@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

    --color0:#040f0f;
    --color1: #248232;
    --color2: #2ba84a;
    --color3: #2d3a3a;
    --color4: #fcfffc;
    --color5:#040f0fad;
    --color6:#040f0f75;
    --color7: #fcfffc8e;

    background: var(--color0);
}

.wrapper {
    max-width: 1200px;
    margin: 20px auto;

    background: var(--color7);

    border-radius: 1%;

    border: 3px solid var(--color1);
    box-shadow: 4px 4px 4px var(--color7);
}

header{
    margin: 0;
    
    padding: 20px;
    background: var(--color5);
}

h1{
    font-size: 2.3rem;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: var(--color1);
    text-shadow: 3px 3px 3px var(--color5);
}

#logo{
    font-size: 2rem;
    color: var(--color1);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff00;
    text-shadow: 3px 3px 3px var(--color5);
    transition: 0.6s ease-in-out;
}
#logo:hover{
    border: 2px solid var(--color1);
    padding: 10px;
}

.settings{
    margin: 0;
    padding: 15px;
    font-size: 1.5rem;

    color: var(--color4);
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    background: var(--color6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.activeToken{
    position: relative;
    padding: 15px;
    background: var(--color6);
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
}


.activeToken ul {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.activeToken ul li{
    list-style: none;
    font-size: 1.4rem;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff00;

    color: var(--color4);
    transition: 0.6s ease-in-out;
}

#currentToken{
    border: 2px solid var(--color1);
}

.activeToken ul li:hover{
    cursor: pointer;
    border: 2px solid var(--color1);
}

.arbs-available{
    height: 100px;
    color: var(--color4);
    position: relative;
    background: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    
    margin: 10px;
    padding: 10px;
    color: var(--color1 );
    text-shadow: 3px 3px 3px var(--color5);

}
.history{
    
    padding: 10px 20px;
    background: var(--color5);
}

.this-active{
    border: 2px;
}








/*Check Box*/

/* Customize the label (the container) */
.tradingON {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  .tradingON input {
    
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    
    height: 25px;
    width: 25px;
    background-color: var(--color4);
    border-radius: 50%;
    border: 2px solid var(--color1);
  }
  
  .checkmark:hover{
    background-color: var(--color4);
    cursor: pointer;
  }

  .tradingON:hover input ~ .checkmark {
    background-color: var(--color1);
    cursor: pointer;
  }
  

  .tradingON input:checked ~ .checkmark {
    background-color: var(--color1);
    border: 2px solid var(--color4);
  }
  

  .tradingON:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .tradingON input:checked ~ .checkmark:after {
    display: block;
  }
  

  .tradingON .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--color4);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  /*Slider*/


  

  #risk {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color4);
    outline: none; 
    -webkit-transition: .6s;
    border: 2px solid var(--color1);
    transition: .6s;
  }
  

  #risk:hover {
    opacity: 1; 
    background: var(--color1);
    border: 2px solid var(--color4);
  }

  #risk::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: var(--color4);
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--color1);
  }
  
  #risk::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color2);
    cursor: pointer;
  }
  